{% extends "base.html" %}

{% block content %}

<marquee onmouseover="stop()" onmouseout="start()">
    {% for news in newsData %}
    <a href="/newsDetails/{{news.news_slug}}"> {{news.news_title}} </a>  &nbsp;&nbsp;&nbsp;
    {% endfor %}
</marquee>
<section id="hero">
      <div class="text">
        <h1>excepteur nostrud excepteur sunt</h1>
        <p>
          deserunt minim velit pariatur exercitation laborum ipsum cillum aliqua
          dolor nisi ullamco sunt deserunt qui occaecat cupidatat quis ea id
          aliqua exercitation adipisicing officia amet eu fugiat aliquip culpa
          cillum
        </p>
        <button>Get Started</button>
      </div>
      <div class="img">
        <img src="/static/./img/hero-bg.svg" alt="" />
      </div>
    </section>

{% endblock %}